<ion-view title="Browse">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h1>Bhahaha</h1>

    <div data-tap-disabled="true">
    	<div id="google-map"></div>
	</div>

  </ion-content>
</ion-view>